{% block stylessheets %}<link rel="stylesheet" href="{{ asset('css/header.css') }}"> {% endblock %}
<div class="head">
   <a href="{{ path('app_accueil') }}"><img src="{{asset('image/logo.png')}}" alt="logo" width='150px'></a>

   <div class="element2_head">
        {% if  app.user %}
        <ul>
            <li><a href="#"><button id='button_auth'>Mon compte</button></a></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_logout') }}"><button id='button_auth'>Se déconnecter</button></a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{{ path('app_login') }}"><button id='button_auth'>Se connecter</button></a></li>
        </ul>
        {% endif %}
    </div>
</div>
   

    {# {% if is_granted('EXPERT') %}
    <p>L'administrateur est un expert.</p>
{% else %}
    <p>L'administrateur n'est pas un expert.</p>
{% endif %} #}

   
