{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/edit_operation.css') }}" />

{% endblock %}

{% block title %}Modifier une opération{% endblock %}

{% block body %}

{% include "header/_header.html.twig" %}


    <h1>Modifier l'opération n° {{ operation.id }}</h1>

    {{ include('operation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {% if app.user.getRoles()[0] == 'EXPERT' %}
    <form method="post" name="utilisateur" action="{{ path('app_id_changed', {'id': operation.id}) }}">
<div id="utilisateur">
    <label for="utilisateur">Changer d'utilisateur :</label>
    <select id="utilisateur" name="utilisateur">
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">
            {{ utilisateur.nom }} 
            {{ utilisateur.prenom }} 
            {% for role in utilisateur.roles %}
            <h3>{{ role }}</h3>
            {% endfor %}
            </option>
        {% endfor %}
    </select>
</div>
    <button type="submit">Modifier</button>
</form>
{% endif %}
    <div class="retour">
    <a href="{{ path('app_accueil') }}"><button class="btn retour">Retour à l'accueil'</button></a>
    </div>



{% endblock %}
