{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/facture.css') }}" />
{% endblock %}

{% block body %}
    <img src="{{ asset('image/logo.png') }}" alt="logo" width="150px"/>

    <h1>Facture pour l'opération n°{{ operation.id }}</h1>
    <h2>Informations de l'opération :</h2>
    <p>Date de l'opération : {{ dateOperation|date('d-m-Y') }}</p>
    <p>Prestation : {{ typeOperation }}</p>

    <h2>Informations Client :</h2>
    <p>Nom : {{ nomClient }}</p>
    <p>Prénom : {{ prenomClient }} </p>
    <p>Adresse : {{ adresseClient }}</p>
    <p>E-mail : {{ emailClient }}</p>
{% endblock %}
