{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}

{% block title %}Mes Opérations{% endblock %}

{% block body %}
    {% include "header/_header.html.twig" %}

    <h1>Mes opérations</h1>
<div class="container">

 {% if operations|length == 0 %}
        <h2>Aucune opération n'a été enregistrée pour votre compte.</h2>
    {% else %}
   
        {% for operation in operations %} 
    <div class="card">
    <div class="card-body senior">
            <h4>Opération n° {{ operation.id }}</h4>
            <p>Type: {{ typeOperation }}</p>
            <p>État: {{ etatOperation }}</p>
              <a href="{{ path('app_operation_show', { 'id': operation.id }) }}"
        ><button>Consulter</button></a>
    </div>
    </div>
        {% endfor %}
    
</div>
  {% endif %}
    <a href="{{ path('app_accueil') }}">Retour à la liste</a>

  
{% endblock %}
