{% extends 'base.html.twig' %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/show.css') }}" />

{% endblock %}

{% block title %}Operation{% endblock %}

{% block body %}

{% include "header/_header.html.twig" %}


    <h1>Operation n° {{ operation.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Etat de l'opération :</th>
                <td>{{ etatOperation }}</td>
            </tr>
            <tr>
                <th>Date de réalisation : </th>
                <td>{{ operation.dateRealisation ? operation.dateRealisation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Client associé :</th>
                <td>{{ nomClient }} {{ prenomClient }}</td>
            </tr>
             <tr>
                <th>Type d'opération :</th>
                <td>{{ typeOperation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_accueil') }}">Retour à la liste</a>

    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">Modifier l'opération</a>

    {% if etatOperation == "En cours" %}
    <a href="{{ path('app_operation_closed', {'id': operation.id}) }}">Terminer l'opération</a>
    {% endif %}

{% endblock %}
