{% extends 'base.html.twig' %}

{% block title %}Nouveau votre mot de passe{% endblock %}

{% block body %}

{% include "header/_header.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/resetMailForm.css') }}">
{% endblock %}


    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation du mot de passe</h1>

        <h2>Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe :</h2>

        <div class="formulaire">
            <div class="corpsForm">
          {{ form_start(requestForm) }}   
            {{ form_row(requestForm.email) }}
        <button class="btn btn-primary">Envoyer</button>
          {{ form_end(requestForm) }}
          </div>
          </div>
{% endblock %}
