{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau client{% endblock %}

{% block body %}

  {% include "header/_header.html.twig" %}

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ajoutUtilisateurForm.css') }}">
  {% endblock %}

  <div class="main">
    <div class="element1">
      <h1>Création d'un nouveau client</h1>
    </div>

    <section>

     {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}
      {% endfor %}
      
    <div class="formulaire">
    <div class="corpsForm">
      {{ form_start(form) }}
      {{ form_errors(form) }}

      <div class="div">{{ form_row(form.Nom) }}</div>
      <div class="div"> {{ form_row(form.prenom) }}</div>
      <div class="div">{{ form_row(form.numero_voie) }}</div>
      <div class="div">{{ form_row(form.adresse) }}</div>
      <div class="div"> {{ form_row(form.code_postal) }}</div>
      <div class="div">{{ form_row(form.ville) }}</div>
      <div class="div">{{ form_row(form.pays) }}</div>
      <div class="div">{{ form_row(form.email) }}</div>

     <div class="btn_submit">
        <button type="submit" class="btn">Créer</button>
     </div>
        {{ form_end(form) }}
     </div>
     </div>
</section>
 
{% endblock %}


