{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %} {% block title %}Accueil{% endblock %} {% block body %} 
{% include "header/_header.html.twig" %}

<h1>Liste des opérations</h1>

{% if bilan is empty %}

<p>Aucun bilan disponible.</p>



{% else %} 
{% for type, messages in app.flashes %} 
{% for message in messages %}
<div class="alert alert-{{ type }}">
  {{ message }}
</div>
{% endfor %} 
{% endfor %}






<div class="container">




  {% for item in bilan %} 

  {% if 'EXPERT' in item.utilisateur.roles %}
  

  <div class="card">
    <div class="card-body expert">
      {% for role in item.utilisateur.roles %}
      <h3>{{ role }}</h3>
      {% endfor %}
      <h4>Opération n° {{ item.operation.id }}</h4>
      <p>Type: {{ typeOperation }}</p>
      <p>État: {{ etatOperation }}</p>
      <!-- Ajoutez d'autres propriétés de l'opération ici -->

      <h4>Utilisateur n° {{ item.utilisateur.id }}</h4>
      <p>Nom: {{ item.utilisateur.nom }}</p>
      <p>Prénom: {{ item.utilisateur.prenom }}</p>

      <a href="{{ path('app_operation_show', { 'id': item.operation.id }) }}"
        ><button>Consulter</button></a
      >
      <!-- Ajoutez d'autres propriétés de l'utilisateur ici -->
    </div>
  </div>
  <hr />
  <!-- Ligne de séparation entre les bilans -->

  {% endif %} 

  {% if 'SENIOR' in item.utilisateur.roles %}
  <div class="card">
    <div class="card-body senior">
    {% for role in item.utilisateur.roles %}
    <h3>{{ role }}</h3>
    {% endfor %}
    <h4>Opération n° {{ item.operation.id }}</h4>
    <p>Type: {{ typeOperation }}</p>
    <p>État: {{ etatOperation }}</p>
    <!-- Ajoutez d'autres propriétés de l'opération ici -->

    <h4>Utilisateur n° {{ item.utilisateur.id }}</h4>
    <p>Nom: {{ item.utilisateur.nom }}</p>
    <p>Prénom: {{ item.utilisateur.prenom }}</p>

    <a href="{{ path('app_operation_show', { 'id': item.operation.id }) }}"
      ><button>Consulter</button></a
    >
    <!-- Ajoutez d'autres propriétés de l'utilisateur ici -->
    </div>
  </div>
  <hr />
  <!-- Ligne de séparation entre les bilans -->

  {% endif %} 

  {% if 'APPRENTI' in item.utilisateur.roles %}
  <div class="card">
    <div class="card-body apprenti">
    {% for role in item.utilisateur.roles %}
    <h3>{{ role }}</h3>
    {% endfor %}
    <h4>Opération n° {{ item.operation.id }}</h4>
    <p>Type: {{ typeOperation }}</p>
    <p>État: {{ etatOperation }}</p>
    <!-- Ajoutez d'autres propriétés de l'opération ici -->

    <h4>Utilisateur n° {{ item.utilisateur.id }}</h4>
    <p>Nom: {{ item.utilisateur.nom }}</p>
    <p>Prénom: {{ item.utilisateur.prenom }}</p>

    <a href="{{ path('app_operation_show', { 'id': item.operation.id }) }}"
      ><button>Consulter</button></a
    >
    <!-- Ajoutez d'autres propriétés de l'utilisateur ici -->

    </div>
  </div>
  <hr />
  <!-- Ligne de séparation entre les bilans -->
  {% endif %} 
  {% endfor %} 
  {% endif %} 

</div>
{% endblock %}
