{% extends 'base.html.twig' %} {# Ajouter des routes pour naviguer avec le menu
#} {% block title %}Interface Utilisateur{% endblock %} {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/interfaceAdmin.css') }}" />

{% endblock %} 



{% block body %} 
{% include "header/_header.html.twig" %}



<div class="example-wrapper">
  <h1>Interface Administrateur</h1>

  <section>
    <div class="onglet">
      <div>
        <a href="{{path('app_register')}}"><div class="icone_nav">
          <img
            src="{{ asset('image/ajouter-un-utilisateur.png') }}"
            alt="Logo créer un utilisateur"
          />
        </div></a>
        <h4>Créer un utilisateur</h4>
      </div>
    </div>

    <div class="onglet">
      <div>
        <a href="{{path('app_accueil')}}"><div class="icone_nav">
          <img src="{{ asset('image/liste.png') }}" alt="Logo liste" />
        </div></a>
        <h4>Liste d'opérations</h4>
      </div>
    
    </div>

    <div class="onglet">
      <div>
        <a href="{{path('app_ajout_operation')}}"><div class="icone_nav">
          <img
            src="{{ asset('image/ajouter-le-fichier.png') }}"
            alt="Logo ajout intervention"
          />
        </div>
      </a>
        <h4>Ajouter une intervention</h4>
      </div>
    </div>

    <div class="onglet">
      <div>
        <a href="{{path('app_liste_utilisateur')}}"><div class="icone_nav">
          <img src="{{ asset('image/groupe.png') }}" alt="Logo groupe" />
        </div>   </a>
        <h4>Gérer les utilisateurs</h4>
      </div>
 
    </div>

    <div class="onglet">
      <div>
        <a href=""><div class="icone_nav">
          <img
            src="{{ asset('image/verifier.png') }}"
            alt="Logo operations terminées"
          />
        </div></a>
      
        <h4>Mes opérations</h4>
      </div>
    </div>

    <div class="onglet">
      <div>
        <a href="{{path('app_chiffre_affaires')}}"><div class="icone_nav">
          <img
            src="{{ asset('image/chiffre-daffaires.png') }}"
            alt="Logo voir CA"
          />
        </div></a>
      
        <h4>Consulter le CA</h4>
      </div>
    </div>
  </section>
</div>

   <div class="onglet">
      <div>
        <a href="{{ path('app_utilisateur_show', {'id': app.user.id}) }}"><div class="icone_nav">
          <img
            src="{{ asset('image/details.png') }}"
            alt="Logo mes informations"
          />
        </div>
      </a>
        <h4>Mes informations</h4>
      </div>
    </div>



<div class="example-wrapper">
  <h1>Interface utilisateur</h1>

  <section>

    <div class="onglet">
      <div>
        <a href="{{path('app_accueil')}}"><div class="icone_nav">
          <img src="{{ asset('image/liste.png') }}" alt="Logo liste" />
        </div>  </a>
        <h4>Liste d'opérations</h4>
      </div>
    
    </div>

    <div class="onglet">
      <div>
        <a href="{{path('app_ajout_operation')}}"><div class="icone_nav">
          <img
            src="{{ asset('image/ajouter-le-fichier.png') }}"
            alt="Logo ajout intervention"
          />
        </div>
      </a>
        <h4>Ajouter une intervention</h4>
      </div>
    </div>

    <div class="onglet">
      <div>
        <a href=""><div class="icone_nav">
          <img
            src="{{ asset('image/verifier.png') }}"
            alt="Logo operations terminées"
          />
        </div>
      </a>
        <h4>Mes opérations</h4>
      </div>
    </div>

    <div class="onglet">
      <div>
        <a href="{{ path('app_utilisateur_show', {'id': app.user.id}) }}"><div class="icone_nav">
          <img
            src="{{ asset('image/details.png') }}"
            alt="Logo mes informations"
          />
        </div>
      </a>
        <h4>Mes informations</h4>
      </div>
    </div>

  </section>
</div>



{% endblock %}
